*
!package.json
!package-lock.json
!turbo.json
!apps/
apps/**
!apps/api/
!apps/api/package.json
!apps/web/
!apps/web/package.json
!packages/
packages/**
!packages/eslint-config/
!packages/eslint-config/package.json
!packages/fretou-clients/
!packages/fretou-clients/package.json
!packages/fretou-components/
!packages/fretou-components/package.json
!packages/fretou-trips/
!packages/fretou-trips/package.json
!packages/fretou-users/
!packages/fretou-users/package.json
!packages/fretou-vehicles/
!packages/fretou-vehicles/package.json
!packages/typescript-config/
!packages/typescript-config/package.json
